{% load static%}
{% block content %}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Home{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">

  <script src="{% static 'js/main.js' %}"></script>
</head>

<nav class="navbar"">
			<a href="{% url 'homepage:index' %}" style ="font-family : Yeon Sung; font-size : 40px; font-weight : Bold; color : #000">FPRADANA3</a>
			<div class="flex-left py-2 ml-auto">
					{% if user.is_authenticated %}
          <a href="/logout" class="btn btn-primary py-2 px-4">Sign out</a>
          {% else %}
          <a href="/login" class="btn btn-primary py-2 px-4">Sign in</a>
          {% endif %}
			</div>
	</nav>

<body style = "background-color : #fcf5b0">
	<div class="d-flex justify-content-center">
    <h1 class="text-big mb-4" style ="font-family : Yeon Sung; font-weight : Bold">Halo{% if user.is_authenticated %} {{user.get_username}}{% endif %}, Selamat Datang!</h1>
	</div>


	</body>
</html>
{% endblock %}
